<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tickets场馆主页</title>
    <!--CSS for direct-->
    <link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../css/main.css"/>
    <link rel="stylesheet" href="../../font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../css/form-elements.css"/>
    <link rel="stylesheet" href="../../css/style.css"/>
    <link rel="stylesheet" href="../../css/ul-element.css">
    <link rel="stylesheet" href="../../css/homepage.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="header-left" style="padding-right: 20px"><strong>Tickets</strong><span
                        style="font-size: 20px">场馆版</span></h1>
            </div>
            <div class="navbar-collapse collapse" style="padding-top: 12px">
                <ul id="navbar" class="nav nav-tabs" style="border: none">
                    <li id="homepage-title" class="active"><a href="homepage.html">主页</a></li>
                    <!--<li id="ticket-title"><a href="ticket.html">票务</a></li>-->
                    <li class="dropdown">
                        <a id="ticket-title" href="" class="dropdown-toggle" data-toggle="dropdown">票务<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="ticket/sell.html" class="dropdown-a" style="color: #4aaf51">售票</a></li>
                            <li><a href="ticket/check.html" class="dropdown-a" style="color: #4aaf51">检票</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a id="show-title" href="" class="dropdown-toggle" data-toggle="dropdown">演出<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="show/show.html" class="dropdown-a" style="color: #4aaf51">查看演出</a></li>
                            <li><a href="show/publish.html" class="dropdown-a" style="color: #4aaf51">发布演出</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a id="info" href="" class="dropdown-toggle" data-toggle="dropdown">场馆信息<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="info/info.html" class="dropdown-a" style="color: #4aaf51">基本信息</a></li>
                            <li><a href="info/statistics.html" class="dropdown-a" style="color: #4aaf51">统计信息</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav navbar-right" style="padding-top: 10px;text-decoration: underline">
                        <span style="color: #4aaf51;"><a href="login.html">登录</a></span><span style="color: #9d9d9d">/<a
                            href="register.html">注册</a></span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1 id="name" class="stadium-homepage-name">1号场馆</h1>
        <h2 id="income" class="stadium-homepage-name" style="font-size: 30px">当前收入：0</h2>
    </div>
    <div class="container">
        <label style="float: left;
    font-size: 40px;
    margin-top: 14px;
    color: #ff0000; display: none" id="message">message</label>
    </div>
    <div id="timeDistribution" style="width: 600px;height:400px; margin-top: 36px; float: left;"></div>
    <div id="typeDistribution" style="width: 400px;height:400px; margin: 36px 0 0 0; float: right;"></div>
    <div id="incomeDistribution" style="width: 400px;height:400px; margin: 120px 50px 0 0;"></div>
</div>
<script src="../../echarts.js"></script>
<script src="../../jquery/jquery-3.3.1.min.js"></script>
<script src="../../bootstrap-3.3.7/js/bootstrap.min.js"></script>

<script src="../../js/stadium/homepage.js"></script>
</body>
</html>