<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tickets主页</title>
    <!--CSS for direct-->
    <link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../css/main.css"/>
    <link rel="stylesheet" href="../../font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../css/form-elements.css"/>
    <link rel="stylesheet" href="../../css/style.css"/>
    <link rel="stylesheet" href="../../css/ul-element.css">
    <link rel="stylesheet" href="../../css/homepage.css">

</head>

<body>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="header-left" style="padding-right: 10px"><strong>Tickets</strong></h1>
            </div>
            <div class="navbar-collapse collapse" style="padding-top: 12px">
                <ul id="navbar" class="nav nav-tabs" style="border: none">
                    <li id="homepage-title" class="active"><a href="homepage.html">主页</a></li>
                    <li id="drama-title"><a href="drama.html">戏剧</a></li>
                    <li id="opera-title"><a href="opera.html">歌剧</a></li>
                    <li id="dance-title"><a href="dance.html">舞蹈</a></li>
                    <li id="sport-title"><a href="sport.html" >体育</a></li>
                    <li id="concert-title"><a href="concert.html" >音乐会</a></li>
                    <li id="vocal-concert-title"><a href="vocal-concert.html" >演唱会</a></li>
                    <li class="dropdown">
                        <a id="info" href="" class="dropdown-toggle" data-toggle="dropdown">个人信息<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="info/info.html" class="dropdown-a" style="color: #4aaf51">基本信息</a></li>
                            <li><a href="info/order.html" class="dropdown-a" style="color: #4aaf51">我的订单</a></li>
                            <li><a href="info/wallet.html" class="dropdown-a" style="color: #4aaf51">我的钱包</a></li>
                            <li><a href="info/coupon.html" class="dropdown-a" style="color: #4aaf51">我的优惠券</a></li>
                            <li><a href="info/statistics.html" class="dropdown-a" style="color: #4aaf51">我的消费</a></li>
                        </ul>
                    </li>
                    <li class="nav navbar-right" style="padding-top: 10px;text-decoration: underline">
                        <span style="color: #4aaf51;">
                            <a href="login.html">登录</a>
                        </span>
                        <span style="color: #9d9d9d">/
                            <a href="register.html">注册</a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="home" style="margin-top: 120px; position: absolute">
        <!--搜索框-->
        <div class="row">
            <div class="col-lg-6 col-lg-offset-2">
                <div class="input-group">
                    <input id="search" type="text" class="form-control">
                    <div class="input-group-btn">
                        <button class="btn">搜索</button>
                    </div>
                </div>
            </div>
        </div>

        <!--图片-->
        <!--内容-->
        <div class="floor drama">
            <div class="simple-title">
                <a class="more" href="drama.html" style="padding: 5px 0;"  id="drama-more">查看全部</a>
                <h3 class="floor-simple-title-title">戏剧</h3>
            </div>
            <div class="floor-content">
                <ul class="floor-content-list">
                    <!--<li>-->
                        <!--<div class="container block">-->
                                <!--<span class="img">-->
                                            <!--<a><img src="../../pictrues/show1.jpg"></a>-->
                                        <!--</span>-->
                            <!--<dl class="info">-->
                                <!--<dt><a href="" name="title">title1</a></dt>-->
                                <!--<dd class="txt">-->
                                    <!--<p class="time">time</p>-->
                                    <!--<p class="place"><a>place</a></p>-->
                                    <!--<p class="price">￥<strong>money</strong>起</p>-->
                                <!--</dd>-->
                            <!--</dl>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>

        <div class="floor opera">
            <div class="simple-title">
                <a class="more" href="opera.html" style="padding: 5px 0;"  id="opera-more">查看全部</a>
                <h3 class="floor-simple-title-title">歌剧</h3>
            </div>
            <div class="floor-content">
                <ul class="floor-content-list">
                </ul>
            </div>
        </div>

        <div class="floor dance">
            <div class="simple-title">
                <a class="more" href="dance.html"  style="padding: 5px 0;" id="dance-more">查看全部</a>
                <h3 class="floor-simple-title-title">舞蹈</h3>
            </div>
            <div class="floor-content">
                <ul class="floor-content-list">
                </ul>
            </div>
        </div>

        <div class="floor sports">
            <div class="simple-title">
                <a class="more" href="sport.html" style="padding: 5px 0;"  id="sport-more">查看全部</a>
                <h3 class="floor-simple-title-title">体育</h3>
            </div>
            <div class="floor-content">
                <ul class="floor-content-list">
                </ul>
            </div>
        </div>

        <div class="floor concert">
            <div class="simple-title">
                <a class="more" href="concert.html"  style="padding: 5px 0;" id="concert-more">查看全部</a>
                <h3 class="floor-simple-title-title">音乐会</h3>
            </div>
            <div class="floor-content">
                <ul class="floor-content-list">
                </ul>
            </div>
        </div>

        <div class="floor vocal-concert">
            <div class="simple-title">
                <a class="more" href="vocal-concert.html"  style="padding: 5px 0;"
                   id="vocal-concert-more">查看全部</a>
                <h3 class="floor-simple-title-title">演唱会</h3>
            </div>
            <div class="floor-content">
                <ul class="floor-content-list">
                </ul>
            </div>
        </div>

    </div>
</div>

<script src="../../jquery/jquery-3.3.1.min.js"></script>
<script src="../../bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="../../js/member/homepage.js"></script>
</body>
</html>
