<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>用户注册</title>

    <link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../css/main.css"/>
    <link rel="stylesheet" href="../../font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../css/form-elements.css"/>
    <link rel="stylesheet" href="../../css/register.css">
</head>

<body>
<div class="container">
    <div class="header">
        <div class="header-left" style="margin-top: 10px; margin-left: 0">
            <h1><strong>Tickets用户注册</strong></h1>
        </div>
    </div>
    <div class="register-main">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 col-sm-offset-1 label control-label" id="message" style="display: none; color: #c12e2a">message</label>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 label control-label"><span class="necessary">*</span>用户名</label>
                <div class="col-sm-10">
                    <input type="text" class="col-sm-10 form-control" id="name" placeholder="请输入用户名"/>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 label control-label"><span class="necessary">*</span>密码</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" placeholder="请输入密码"/>
                </div>
            </div>
            <div class="form-group">
                <label for="passwordAgain" class="col-sm-2 label control-label"><span class="necessary">*</span>确认密码</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="passwordAgain" placeholder="请再次输入密码"/>
                </div>
            </div>
            <div class="form-group">
                <label for="gender" class="label control-label col-sm-2"><span class="necessary">*</span>性别</label>
                <div class="col-sm-2">
                    <select class="form-control" id="gender">
                        <option class="label">男</option>
                        <option class="label">女</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="label col-sm-2 col-sm-offset-1 control-label" style="color: #4aaf51" >输入邮箱后请点击"发送验证码"，您的邮箱将收到一份验证邮件，验证通过后即可使用Tickets。<br>
                    <strong>注意：邮箱将是您今后登陆网站的唯一标识</strong>
                </label>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 label control-label"><span class="necessary">*</span>邮箱</label>
                <!--<div class="col-sm-10">-->
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="email" placeholder="请输入一个验证邮箱">
                </div>
                <div class="col-sm-2">
                    <button id="submit" type="button" class="btn">发送验证码</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="title">发送注册邮件</h4>
                </div>
                <div class="modal-body" id="content">注册邮件发送中...请稍后</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close">关闭</button>
                    <button type="button" class="btn btn-primary" id="sure">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>-->
<!--<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<script src="../../jquery/jquery-3.3.1.min.js"></script>
<script src="../../bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="../../js/member/register.js"></script>

</body>
</html>