<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>场馆基本信息</title>

    <link rel="stylesheet" href="../../../bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../css/main.css"/>
    <link rel="stylesheet" href="../../../font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../../css/form-elements.css"/>
    <link rel="stylesheet" href="../../../css/style.css"/>
    <link rel="stylesheet" href="../../../css/info.css"/>

</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="header-left" style="padding-right: 20px"><strong>Tickets</strong><span
                        style="font-size: 20px">场馆版</span></h1>
            </div>
            <div class="navbar-collapse collapse" style="padding-top: 12px">
                <ul id="navbar" class="nav nav-tabs" style="border: none">
                    <li id="homepage-title"><a href="../homepage.html">主页</a></li>
                    <li class="dropdown">
                        <a id="ticket-title" href="" class="dropdown-toggle" data-toggle="dropdown">票务<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../ticket/sell.html" class="dropdown-a" style="color: #4aaf51">售票</a></li>
                            <li><a href="../ticket/check.html" class="dropdown-a" style="color: #4aaf51">检票</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a id="show-title" href="" class="dropdown-toggle" data-toggle="dropdown">演出<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../show/show.html" class="dropdown-a" style="color: #4aaf51">查看演出</a></li>
                            <li><a href="../show/publish.html" class="dropdown-a" style="color: #4aaf51">发布演出</a></li>
                        </ul>
                    </li>
                    <li class="dropdown active">
                        <a id="info" href="" class="dropdown-toggle" data-toggle="dropdown">场馆信息<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../info/info.html" class="dropdown-a" style="color: #4aaf51">基本信息</a></li>
                            <li><a href="../info/statistics.html" class="dropdown-a" style="color: #4aaf51">统计信息</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav navbar-right" style="padding-top: 10px;text-decoration: underline">
                        <span style="color: #4aaf51;"><a href="../login.html">登录</a></span><span style="color: #9d9d9d">/<a
                            href="../register.html">注册</a></span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container info">
        <div class="myinfo">
            <h3>场馆处理</h3>
            <ul id="navbar-info" class="nav nav-tabs nav-stacked" style="border: none">
                <li id="info-title" class="active"><a href="info.html">基本信息</a></li>
                <li id="statistics-title"><a href="statistics.html">统计信息</a></li>
            </ul>
        </div>
        <div class="tab-content" style="height: auto">
            <div id="basic-info" style="padding: 22px 30px;">
                <div>
                    <label id="title">基本信息</label>
                </div>
                <div class="info-box">
                    <form id="info-form">
                        <dl>
                            <dt><span class="necessary">*</span>ID</dt>
                            <dd>
                                <p id="email">1234567</p>
                            </dd>
                        </dl>
                        <dl>
                            <dt><span class="necessary">*</span>场馆名</dt>
                            <dd>
                                <input id="name" type="text" value="1">
                            </dd>
                        </dl>
                        <dl>
                            <dt><span class="necessary">*</span>密码</dt>
                            <dd>
                                <input id="password" type="password">
                            </dd>
                        </dl>
                        <dl hidden>
                            <dt><span class="necessary">*</span>再次输入密码</dt>
                            <dd>
                                <input id="passwordAgain" type="password">
                            </dd>
                        </dl>
                        <dl>
                            <dt><span class="necessary">*</span>场馆地址</dt>
                            <dd>
                                <input type="text">
                            </dd>
                        </dl>
                        <dl>
                            <dt><span class="necessary">*</span>场馆座位信息</dt>
                            <dd>
                                <div class="form-group" style=" text-align: left;">
                                    <label style="color: #4aaf15" hidden>座位信息输入格式：不同种类座位之间用"，"（中文逗号）分开，座位名称与数量之间用(" ")空格分开<br>
                                        例如：一等座 100，二等座 200
                                    </label>
                                    <input type="text">
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>场馆描述</dt>
                            <dd>
                                <input type="text">
                            </dd>
                        </dl>
                        <p id="message" hidden style="color: #F80000; margin: 0 10px 10px 20px">message</p><br>
                        <button class="btn" type="submit">更新并保存信息</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="../../../jquery/jquery-3.3.1.min.js"></script>
    <script src="../../../bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>