<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户信息</title>

    <link rel="stylesheet" href="../../../bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../css/main.css"/>
    <link rel="stylesheet" href="../../../font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../../css/form-elements.css"/>
    <link rel="stylesheet" href="../../../css/style.css"/>
    <link rel="stylesheet" href="../../../css/member-info.css"/>

</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="header-left" style="padding-right: 10px"><strong>Tickets</strong></h1>
            </div>
            <div class="navbar-collapse collapse" style="padding-top: 12px">
                <ul id="navbar" class="nav nav-tabs" style="border: none">
                    <li id="homepage-title"><a href="../homepage.html">主页</a></li>
                    <li id="drama-title"><a href="../drama.html">戏剧</a></li>
                    <li id="opera-title"><a href="../opera.html">歌剧</a></li>
                    <li id="dance-title"><a href="../dance.html">舞蹈</a></li>
                    <li id="sport-title"><a href="../sport.html">体育</a></li>
                    <li id="concert-title"><a href="../concert.html">音乐会</a></li>
                    <li id="vocal-concert-title"><a href="../vocal-concert.html">演唱会</a></li>
                    <li class="dropdown active">
                        <a id="info" href="" class="dropdown-toggle" data-toggle="dropdown">个人信息<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="info.html" class="dropdown-a" style="color: #4aaf51">基本信息</a></li>
                            <li><a href="order.html" class="dropdown-a" style="color: #4aaf51">我的订单</a></li>
                            <li><a href="wallet.html" class="dropdown-a" style="color: #4aaf51">我的钱包</a></li>
                            <li><a href="coupon.html" class="dropdown-a" style="color: #4aaf51">我的优惠券</a></li>                            <li><a href="info/statistics.html" class="dropdown-a" style="color: #4aaf51">我的消费</a></li>
                            <li><a href="statistics.html" class="dropdown-a" style="color: #4aaf51">我的消费</a></li>
                        </ul>
                    </li>
                    <li class="nav navbar-right" style="padding-top: 10px;text-decoration: underline">
                        <span style="color: #4aaf51;"><a href="../login.html">登录</a></span><span style="color: #9d9d9d">/<a
                            href="../register.html">注册</a></span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container info">
        <!--个人信息的导航栏-->
        <div class="myinfo">
            <h3>个人信息</h3>
            <ul id="navbar-info" class="nav nav-tabs nav-stacked" style="border: none">
                <li id="basicInfo-title" class="active"><a href="info.html">基本信息</a></li>
                <li id="order-title"><a href="order.html">我的订单</a></li>
                <li id="wallet-title"><a href="wallet.html">我的钱包</a></li>
                <li id="coupon-title"><a href="coupon.html">我的优惠券</a></li>
                <li id="statistics-title"><a href="statistics.html">我的消费</a></li>
            </ul>
        </div>
        <div class="tab-content" style="height: auto">
            <div id="basicInfo">
                <div>
                    <label>基本信息</label>
                </div>
                <div class="info-box">
                    <form id="info-form">
                        <dl>
                            <dt><span class="necessary">*</span>邮箱</dt>
                            <dd>
                                <p id="email">123</p>
                            </dd>
                        </dl>
                        <dl>
                            <dt><span class="necessary">*</span>用户名</dt>
                            <dd>
                                <input id="name" type="text" value="1">
                            </dd>
                        </dl>
                        <dl>
                            <dt><span class="necessary">*</span>密码</dt>
                            <dd>
                                <input id="password" type="password">
                            </dd>
                        </dl>
                        <dl>
                            <dt><span class="necessary">*</span>再次输入密码</dt>
                            <dd>
                                <input id="passwordAgain" type="password">
                            </dd>
                        </dl>
                        <dl>
                            <dt><span class="necessary">*</span>性别</dt>
                            <dd>
                                <select id="gender">
                                    <option class="label">男</option>
                                    <option class="label">女</option>
                                </select>
                            </dd>
                        </dl>
                        <dl>
                            <dt>会员状态</dt>
                            <dd>
                                <p id="valid">有效</p>
                            </dd>
                        </dl>
                        <dl>
                            <dt>会员等级</dt>
                            <dd>
                                <p id="rank">1级</p>
                            </dd>
                        </dl>
                        <dl>
                            <dt>会员积分</dt>
                            <dd>
                                <p id="credit">100</p>
                            </dd>
                        </dl>
                        <p id="message" hidden style="color: #F80000; margin: 0 10px 10px 20px">message</p><br>
                        <button class="btn" type="submit">更新并保存信息</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../../jquery/jquery-3.3.1.min.js"></script>
<script src="../../../bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>