<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我的订单</title>

    <link rel="stylesheet" href="../../../bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../css/main.css"/>
    <link rel="stylesheet" href="../../../font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../../css/form-elements.css"/>
    <link rel="stylesheet" href="../../../css/style.css"/>
    <link rel="stylesheet" href="../../../css/info.css"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="header-left" style="padding-right: 10px"><strong>Tickets</strong></h1>
            </div>
            <div class="navbar-collapse collapse" style="padding-top: 12px">
                <ul id="navbar" class="nav nav-tabs" style="border: none">
                    <li id="homepage-title"><a href="../homepage.html">主页</a></li>
                    <li id="drama-title"><a href="../drama.html">戏剧</a></li>
                    <li id="opera-title"><a href="../opera.html">歌剧</a></li>
                    <li id="dance-title"><a href="../dance.html">舞蹈</a></li>
                    <li id="sport-title"><a href="../sport.html">体育</a></li>
                    <li id="concert-title"><a href="../concert.html">音乐会</a></li>
                    <li id="vocal-concert-title"><a href="../vocal-concert.html">演唱会</a></li>
                    <li class="dropdown active">
                        <a id="info" href="" class="dropdown-toggle" data-toggle="dropdown">个人信息<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="info.html" class="dropdown-a" style="color: #4aaf51">基本信息</a></li>
                            <li><a href="order.html" class="dropdown-a" style="color: #4aaf51">我的订单</a></li>
                            <li><a href="wallet.html" class="dropdown-a" style="color: #4aaf51">我的钱包</a></li>
                            <li><a href="coupon.html" class="dropdown-a" style="color: #4aaf51">我的优惠券</a></li>
                            <li><a href="statistics.html" class="dropdown-a" style="color: #4aaf51">我的消费</a></li>
                        </ul>
                    </li>
                    <li class="nav navbar-right" style="padding-top: 10px;text-decoration: underline">
                        <span style="color: #4aaf51;"><a href="../login.html">登录</a></span><span style="color: #9d9d9d">/<a
                            href="../register.html">注册</a></span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container info">
        <!--个人信息的导航栏-->
        <div class="myinfo">
            <h3>个人信息</h3>
            <ul id="navbar-info" class="nav nav-tabs nav-stacked" style="border: none">
                <li id="basicInfo-title"><a href="info.html">基本信息</a></li>
                <li id="order-title" class="active"><a href="order.html">我的订单</a></li>
                <li id="wallet-title"><a href="wallet.html">我的钱包</a></li>
                <li id="coupon-title"><a href="coupon.html">我的优惠券</a></li>
                <li id="statistics-title"><a href="statistics.html">我的消费</a></li>
            </ul>
        </div>
        <div class="tab-content" style="height: auto">
            <div id="order" style="padding: 22px 30px;">
                <div>
                    <label>我的订单</label>
                </div>
                <div class="order-main">
                    <div class="header">
                        <ul class="clearfix nav nav-tabs" style="border: none">
                            <li class="active"><a href="#all" data-toggle="tab">全部订单</a></li>
                            <li><a href="#to-be-paid" data-toggle="tab">待支付</a></li>
                            <li><a href="#wait-ticket" data-toggle="tab">待出票</a></li>
                            <li><a href="#ticket-out" data-toggle="tab">已出票</a></li>
                            <li><a href="#canceled" data-toggle="tab">已取消</a></li>
                            <li><a href="#used" data-toggle="tab">已使用</a></li>
                            <li><a href="#refund" data-toggle="tab">退款</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="all" class="tab-pane active">
                            <div class="order-box">
                                <div class="order-header">
                                    <span class="order-date">2018-01-01</span>
                                    <span class="order-id">订单号：1</span>
                                </div>
                                <div class="order-body">
                                    <div class="poster">
                                        <img src="../../../pictrues/show1.jpg">
                                    </div>
                                    <form style="float: left; margin-left: 130px;">
                                        <div class="show-name">《驴得水》</div>
                                        <div class="stadium-name">幸福蓝海国际影城</div>
                                        <div class="seat-info">
                                            <span>一等座</span>
                                            <span>6座6排</span>
                                            <span>6座7排</span>
                                        </div>
                                        <div class="show-time">2018-02-02 15:10:00</div>
                                    </form>
                                    <div class="order-price">￥100</div>
                                    <div class="order-status">已出票</div>
                                </div>
                            </div>
                            <div class="order-box">
                                <div class="order-header">
                                    <span class="order-date">2018-01-01</span>
                                    <span class="order-id">订单号：1</span>
                                </div>
                                <div class="order-body">
                                    <div class="poster">
                                        <img src="../../../pictrues/show1.jpg">
                                    </div>
                                    <form style="float: left; margin-left: 130px;">
                                        <div class="show-name">《驴得水》</div>
                                        <div class="stadium-name">幸福蓝海国际影城</div>
                                        <div class="seat-info">
                                            <span>一等座</span>
                                            <span>6座6排</span>
                                            <span>6座7排</span>
                                        </div>
                                        <div class="show-time">2018-02-02 15:10:00</div>
                                    </form>
                                    <div class="order-price">￥100</div>
                                    <div class="order-status">已出票</div>
                                </div>
                            </div>
                            <div class="order-box">
                                <div class="order-header">
                                    <span class="order-date">2018-01-01</span>
                                    <span class="order-id">订单号：1</span>
                                </div>
                                <div class="order-body">
                                    <div class="poster">
                                        <img src="../../../pictrues/show1.jpg">
                                    </div>
                                    <form style="float: left; margin-left: 130px;">
                                        <div class="show-name">《驴得水》</div>
                                        <div class="stadium-name">幸福蓝海国际影城</div>
                                        <div class="seat-info">
                                            <span>一等座</span>
                                            <span>6座6排</span>
                                            <span>6座7排</span>
                                        </div>
                                        <div class="show-time">2018-02-02 15:10:00</div>
                                    </form>
                                    <div class="order-price">￥100</div>
                                    <div class="order-status">已出票</div>
                                </div>
                            </div>
                        </div>
                        <div id="to-be-paid" class="tab-pane">
                            <div class="order-box">
                                <div class="order-header">
                                    <span class="order-date">2018-01-01</span>
                                    <span class="order-id">订单号：1</span>
                                </div>
                                <div class="order-body">
                                    <div class="poster">
                                        <img src="../../../pictrues/show1.jpg">
                                    </div>
                                    <form style="float: left; margin-left: 130px;">
                                        <div class="show-name">《驴得水》</div>
                                        <div class="stadium-name">幸福蓝海国际影城</div>
                                        <div class="seat-info">
                                            <span>一等座</span>
                                            <span>6座6排</span>
                                            <span>6座7排</span>
                                        </div>
                                        <div class="show-time">2018-02-02 15:10:00</div>
                                    </form>
                                    <div class="order-price">￥100</div>
                                    <div class="order-status">已出票</div>
                                </div>
                            </div>
                            <div class="order-box">
                                <div class="order-header">
                                    <span class="order-date">2018-01-01</span>
                                    <span class="order-id">订单号：1</span>
                                </div>
                                <div class="order-body">
                                    <div class="poster">
                                        <img src="../../../pictrues/show1.jpg">
                                    </div>
                                    <form style="float: left; margin-left: 130px;">
                                        <div class="show-name">《驴得水》</div>
                                        <div class="stadium-name">幸福蓝海国际影城</div>
                                        <div class="seat-info">
                                            <span>一等座</span>
                                            <span>6座6排</span>
                                            <span>6座7排</span>
                                        </div>
                                        <div class="show-time">2018-02-02 15:10:00</div>
                                    </form>
                                    <div class="order-price">￥100</div>
                                    <div class="order-status">已出票</div>
                                </div>
                            </div>
                            <div class="order-box">
                                <div class="order-header">
                                    <span class="order-date">2018-01-01</span>
                                    <span class="order-id">订单号：1</span>
                                </div>
                                <div class="order-body">
                                    <div class="poster">
                                        <img src="../../../pictrues/show1.jpg">
                                    </div>
                                    <form style="float: left; margin-left: 130px;">
                                        <div class="show-name">《驴得水》</div>
                                        <div class="stadium-name">幸福蓝海国际影城</div>
                                        <div class="seat-info">
                                            <span>一等座</span>
                                            <span>6座6排</span>
                                            <span>6座7排</span>
                                        </div>
                                        <div class="show-time">2018-02-02 15:10:00</div>
                                    </form>
                                    <div class="order-price">￥100</div>
                                    <div class="order-status">已出票</div>
                                </div>
                            </div>
                        </div>
                        <div id="wait-ticket" class="tab-pane">
                            <div class="order-box">
                                <div class="order-header">
                                    <span class="order-date">2018-01-01</span>
                                    <span class="order-id">订单号：1</span>
                                </div>
                                <div class="order-body">
                                    <div class="poster">
                                        <img src="../../../pictrues/show1.jpg">
                                    </div>
                                    <form style="float: left; margin-left: 130px;">
                                        <div class="show-name">《驴得水》</div>
                                        <div class="stadium-name">幸福蓝海国际影城</div>
                                        <div class="seat-info">
                                            <span>一等座</span>
                                            <span>6座6排</span>
                                            <span>6座7排</span>
                                        </div>
                                        <div class="show-time">2018-02-02 15:10:00</div>
                                    </form>
                                    <div class="order-price">￥100</div>
                                    <div class="order-status">已出票</div>
                                </div>
                            </div>
                            <div class="order-box">
                                <div class="order-header">
                                    <span class="order-date">2018-01-01</span>
                                    <span class="order-id">订单号：1</span>
                                </div>
                                <div class="order-body">
                                    <div class="poster">
                                        <img src="../../../pictrues/show1.jpg">
                                    </div>
                                    <form style="float: left; margin-left: 130px;">
                                        <div class="show-name">《驴得水》</div>
                                        <div class="stadium-name">幸福蓝海国际影城</div>
                                        <div class="seat-info">
                                            <span>一等座</span>
                                            <span>6座6排</span>
                                            <span>6座7排</span>
                                        </div>
                                        <div class="show-time">2018-02-02 15:10:00</div>
                                    </form>
                                    <div class="order-price">￥100</div>
                                    <div class="order-status">已出票</div>
                                </div>
                            </div>
                            <div class="order-box">
                                <div class="order-header">
                                    <span class="order-date">2018-01-01</span>
                                    <span class="order-id">订单号：1</span>
                                </div>
                                <div class="order-body">
                                    <div class="poster">
                                        <img src="../../../pictrues/show1.jpg">
                                    </div>
                                    <form style="float: left; margin-left: 130px;">
                                        <div class="show-name">《驴得水》</div>
                                        <div class="stadium-name">幸福蓝海国际影城</div>
                                        <div class="seat-info">
                                            <span>一等座</span>
                                            <span>6座6排</span>
                                            <span>6座7排</span>
                                        </div>
                                        <div class="show-time">2018-02-02 15:10:00</div>
                                    </form>
                                    <div class="order-price">￥100</div>
                                    <div class="order-status">已出票</div>
                                </div>
                            </div>
                        </div>
                        <div id="ticket-out" class="tab-pane">
                            <div class="order-box">
                                <div class="order-header">
                                    <span class="order-date">2018-01-01</span>
                                    <span class="order-id">订单号：1</span>
                                </div>
                                <div class="order-body">
                                    <div class="poster">
                                        <img src="../../../pictrues/show1.jpg">
                                    </div>
                                    <form style="float: left; margin-left: 130px;">
                                        <div class="show-name">《驴得水》</div>
                                        <div class="stadium-name">幸福蓝海国际影城</div>
                                        <div class="seat-info">
                                            <span>一等座</span>
                                            <span>6座6排</span>
                                            <span>6座7排</span>
                                        </div>
                                        <div class="show-time">2018-02-02 15:10:00</div>
                                    </form>
                                    <div class="order-price">￥100</div>
                                    <div class="order-status">已出票</div>
                                </div>
                            </div>
                            <div class="order-box">
                                <div class="order-header">
                                    <span class="order-date">2018-01-01</span>
                                    <span class="order-id">订单号：1</span>
                                </div>
                                <div class="order-body">
                                    <div class="poster">
                                        <img src="../../../pictrues/show1.jpg">
                                    </div>
                                    <form style="float: left; margin-left: 130px;">
                                        <div class="show-name">《驴得水》</div>
                                        <div class="stadium-name">幸福蓝海国际影城</div>
                                        <div class="seat-info">
                                            <span>一等座</span>
                                            <span>6座6排</span>
                                            <span>6座7排</span>
                                        </div>
                                        <div class="show-time">2018-02-02 15:10:00</div>
                                    </form>
                                    <div class="order-price">￥100</div>
                                    <div class="order-status">已出票</div>
                                </div>
                            </div>
                            <div class="order-box">
                                <div class="order-header">
                                    <span class="order-date">2018-01-01</span>
                                    <span class="order-id">订单号：1</span>
                                </div>
                                <div class="order-body">
                                    <div class="poster">
                                        <img src="../../../pictrues/show1.jpg">
                                    </div>
                                    <form style="float: left; margin-left: 130px;">
                                        <div class="show-name">《驴得水》</div>
                                        <div class="stadium-name">幸福蓝海国际影城</div>
                                        <div class="seat-info">
                                            <span>一等座</span>
                                            <span>6座6排</span>
                                            <span>6座7排</span>
                                        </div>
                                        <div class="show-time">2018-02-02 15:10:00</div>
                                    </form>
                                    <div class="order-price">￥100</div>
                                    <div class="order-status">已出票</div>
                                </div>
                            </div>
                        </div>
                        <div id="canceled" class="tab-pane">
                            <div class="order-box">
                                <div class="order-header">
                                    <span class="order-date">2018-01-01</span>
                                    <span class="order-id">订单号：1</span>
                                </div>
                                <div class="order-body">
                                    <div class="poster">
                                        <img src="../../../pictrues/show1.jpg">
                                    </div>
                                    <form style="float: left; margin-left: 130px;">
                                        <div class="show-name">《驴得水》</div>
                                        <div class="stadium-name">幸福蓝海国际影城</div>
                                        <div class="seat-info">
                                            <span>一等座</span>
                                            <span>6座6排</span>
                                            <span>6座7排</span>
                                        </div>
                                        <div class="show-time">2018-02-02 15:10:00</div>
                                    </form>
                                    <div class="order-price">￥100</div>
                                    <div class="order-status">已出票</div>
                                </div>
                            </div>
                            <div class="order-box">
                                <div class="order-header">
                                    <span class="order-date">2018-01-01</span>
                                    <span class="order-id">订单号：1</span>
                                </div>
                                <div class="order-body">
                                    <div class="poster">
                                        <img src="../../../pictrues/show1.jpg">
                                    </div>
                                    <form style="float: left; margin-left: 130px;">
                                        <div class="show-name">《驴得水》</div>
                                        <div class="stadium-name">幸福蓝海国际影城</div>
                                        <div class="seat-info">
                                            <span>一等座</span>
                                            <span>6座6排</span>
                                            <span>6座7排</span>
                                        </div>
                                        <div class="show-time">2018-02-02 15:10:00</div>
                                    </form>
                                    <div class="order-price">￥100</div>
                                    <div class="order-status">已出票</div>
                                </div>
                            </div>
                            <div class="order-box">
                                <div class="order-header">
                                    <span class="order-date">2018-01-01</span>
                                    <span class="order-id">订单号：1</span>
                                </div>
                                <div class="order-body">
                                    <div class="poster">
                                        <img src="../../../pictrues/show1.jpg">
                                    </div>
                                    <form style="float: left; margin-left: 130px;">
                                        <div class="show-name">《驴得水》</div>
                                        <div class="stadium-name">幸福蓝海国际影城</div>
                                        <div class="seat-info">
                                            <span>一等座</span>
                                            <span>6座6排</span>
                                            <span>6座7排</span>
                                        </div>
                                        <div class="show-time">2018-02-02 15:10:00</div>
                                    </form>
                                    <div class="order-price">￥100</div>
                                    <div class="order-status">已出票</div>
                                </div>
                            </div>
                        </div>
                        <div id="used" class="tab-pane">
                            <div class="order-box">
                                <div class="order-header">
                                    <span class="order-date">2018-01-01</span>
                                    <span class="order-id">订单号：1</span>
                                </div>
                                <div class="order-body">
                                    <div class="poster">
                                        <img src="../../../pictrues/show1.jpg">
                                    </div>
                                    <form style="float: left; margin-left: 130px;">
                                        <div class="show-name">《驴得水》</div>
                                        <div class="stadium-name">幸福蓝海国际影城</div>
                                        <div class="seat-info">
                                            <span>一等座</span>
                                            <span>6座6排</span>
                                            <span>6座7排</span>
                                        </div>
                                        <div class="show-time">2018-02-02 15:10:00</div>
                                    </form>
                                    <div class="order-price">￥100</div>
                                    <div class="order-status">已出票</div>
                                </div>
                            </div>
                            <div class="order-box">
                                <div class="order-header">
                                    <span class="order-date">2018-01-01</span>
                                    <span class="order-id">订单号：1</span>
                                </div>
                                <div class="order-body">
                                    <div class="poster">
                                        <img src="../../../pictrues/show1.jpg">
                                    </div>
                                    <form style="float: left; margin-left: 130px;">
                                        <div class="show-name">《驴得水》</div>
                                        <div class="stadium-name">幸福蓝海国际影城</div>
                                        <div class="seat-info">
                                            <span>一等座</span>
                                            <span>6座6排</span>
                                            <span>6座7排</span>
                                        </div>
                                        <div class="show-time">2018-02-02 15:10:00</div>
                                    </form>
                                    <div class="order-price">￥100</div>
                                    <div class="order-status">已出票</div>
                                </div>
                            </div>
                            <div class="order-box">
                                <div class="order-header">
                                    <span class="order-date">2018-01-01</span>
                                    <span class="order-id">订单号：1</span>
                                </div>
                                <div class="order-body">
                                    <div class="poster">
                                        <img src="../../../pictrues/show1.jpg">
                                    </div>
                                    <form style="float: left; margin-left: 130px;">
                                        <div class="show-name">《驴得水》</div>
                                        <div class="stadium-name">幸福蓝海国际影城</div>
                                        <div class="seat-info">
                                            <span>一等座</span>
                                            <span>6座6排</span>
                                            <span>6座7排</span>
                                        </div>
                                        <div class="show-time">2018-02-02 15:10:00</div>
                                    </form>
                                    <div class="order-price">￥100</div>
                                    <div class="order-status">已出票</div>
                                    <div class="order-cancel">
                                        <button class="btn" onclick="this.disabled=true;">退票</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="refund" class="tab-pane active">
                            <div class="order-box">
                                <div class="order-header">
                                    <span class="order-date">2018-01-01</span>
                                    <span class="order-id">订单号：1</span>
                                </div>
                                <div class="order-body">
                                    <div class="poster">
                                        <img src="../../../pictrues/show1.jpg">
                                    </div>
                                    <form style="float: left; margin-left: 130px;">
                                        <div class="show-name">《驴得水》</div>
                                        <div class="stadium-name">幸福蓝海国际影城</div>
                                        <div class="seat-info">
                                            <span>一等座</span>
                                            <span>6座6排</span>
                                            <span>6座7排</span>
                                        </div>
                                        <div class="show-time">2018-02-02 15:10:00</div>
                                    </form>
                                    <div class="order-price">￥100</div>
                                    <div class="order-status">已出票</div>
                                    <div class="order-cancel">
                                        <button class="btn" onclick="this.disabled=true;">退票</button>
                                    </div>
                                </div>
                            </div>
                            <div class="order-box">
                                <div class="order-header">
                                    <span class="order-date">2018-01-01</span>
                                    <span class="order-id">订单号：1</span>
                                </div>
                                <div class="order-body">
                                    <div class="poster">
                                        <img src="../../../pictrues/show1.jpg">
                                    </div>
                                    <form style="float: left; margin-left: 130px;">
                                        <div class="show-name">《驴得水》</div>
                                        <div class="stadium-name">幸福蓝海国际影城</div>
                                        <div class="seat-info">
                                            <span>一等座</span>
                                            <span>6座6排</span>
                                            <span>6座7排</span>
                                        </div>
                                        <div class="show-time">2018-02-02 15:10:00</div>
                                    </form>
                                    <div class="order-price">￥100</div>
                                    <div class="order-status">已出票</div>
                                    <div class="order-cancel">
                                        <button class="btn" onclick="this.disabled=true;">退票</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="../../../jquery/jquery-3.3.1.min.js"></script>
<script src="../../../bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>