<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Tickets欢迎页面</title>
    <!--CSS for direct-->
    <link rel="stylesheet" href="../bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/form-elements.css"/>

    <!--&lt;!&ndash;CSS for server&ndash;&gt;-->
    <!--<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />-->
    <!--<link rel="stylesheet" href="/css/main.css"/>-->
    <!--<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css"/>-->
    <!--<link rel="stylesheet" href="/css/form-elements.css"/>-->

</head>
<body>
<img src="../pictrues/bg.png" class="bg"/>
<!--<img src="/pictrues/bg.png" class="bg"/>-->
<div class="container">
    <p class="title1">Welcome to Tickets!</p>
    <div class="row col-lg-offset-3" style="margin-top: 50px" >
        <div class="col-lg-2 ">
            <button id="member" class="btn btn-success">会员登录</button>
        </div>
        <div class="col-lg-2 col-lg-offset-1">
            <button id="stadium" class="btn btn-success">场馆登录</button>
        </div>
        <div class="col-lg-2 col-lg-offset-1">
            <button id="manager" class="btn btn-success">管理员登录</button>
        </div>
    </div>
</div>

<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../js/login.js"></script>

</body>
</html>