/*common*/
.myinfo {
    /*margin-top: 120px;*/
    background-color: #f8f8f8;
    float: left;
    width: 200px;
    height: 675px;
}

#basicInfo label, #wallet label, #coupon label, #statistics label {
    float: left;
    border-bottom: 2px solid #f5f5f5;
    margin: 20px 60px 0 60px;
    font-size: 20px;
    color: #4aaf15;
    width: 800px;
    text-align: left;
}

/*basic info*/
.info {
    border: 3px solid #efefef;
    margin-top: 120px;
    padding: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    margin: 0;
}

h3 {
    font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
    border-bottom: 3px inset #4aaf51;
    margin: 10px 0;
    padding-bottom: 10px;
}

.info-box {
    width: 800px;
    border: 1px solid #eef1f3;
    margin: 40px 60px 0 60px;
    text-align: center;
    float: left;
}

.necessary {
    color: #F80000;
}

.info-box dl {
    margin: 10px 0 10px 20px;
    clear: both;
    padding-bottom: 40px;
}

.info-box dt {
    float: left;
    margin-top: 2px;
}

.info-box dd {
    float: left;
    margin-left: 10px;
}

.info-box dd > p {
    float: left;
    margin-top: 2px;
    margin-left: 10px;
}

#info-form input {
    height: 30px;
}

#info-form p {
    float: left;
}

#info-form button {
    float: right;
    margin: 10px 50px;
}

/*order*/
.order-main {
    width: 850px;
    border: 1px solid #eef1f3;
    margin: 40px 10px 0 60px;
    text-align: center;
    float: left;
    background-color: #ffffff;
}

.order-main .header ul li {
    font-size: 20px;
    color: #222;
    line-height: 26px;
    float: left;
    width: auto;
    text-align: center;
    height: 38px;
    margin-right: 15px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}

.order-box {
    border: 1px solid #e5e5e5;
    margin: 50px 10px 30px 35px;
    width: 780px;
    height: 230px;
}

.order-box .order-header {
    background-color: #f7f7f7;
    font-size: 14px;
    padding: 16px 20px;
    height: 55px;
    text-align: left;
}

.order-box .order-header .order-date, .order-box .order-header .order-id {
    color: #333;
    display: inline-block;
    margin-right: 30px;
}

.order-box .order-body {
    padding: 20px;
    padding-right: 0;
}

.order-box .order-body .poster {
    box-shadow: 0 1px 2px 0 hsla(0, 0%, 53%, .5);
    font-size: 0;
    width: 100px;
    height: 0;
}

.order-box .order-body .poster img {
    width: 100px;
}

.order-box .order-body .show-name {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin: 4px 0 7px -6px;
}

.order-box .order-body .stadium-name, .order-box .order-body .seat-info {
    font-size: 12px;
    color: #999;
    font-weight: 500;
    margin-bottom: 4px;
}

.order-box .order-body .show-time {
    font-size: 12px;
    color: #f03d37;
}

.order-box .order-body .order-price, .order-box .order-body .order-status {
    font-size: 14px;
    font-weight: 500;
    color: #999;
    width: 12%;
    line-height: 95px;
    float: left;
    margin-left: 250px;
    margin-top: 20px;
}

.order-box .order-body .order-status {
    float: right;
    margin-top: 20px;
    margin-left: 0;
}

#order label {
    float: left;
    border-bottom: 2px solid #f5f5f5;
    margin: 0 10px 0 60px;
    font-size: 20px;
    color: #4aaf15;
    width: 850px;
    text-align: left;
}

#refund .order-body .order-price, #refund .order-body .order-status{
    font-size: 14px;
    font-weight: 500;
    color: #999;
    width: 12%;
    line-height: 95px;
    float: left;
    margin-left: 100px;
    margin-top: 20px;
}

#refund .order-body .order-status {
    margin-left: 0;
}

#refund .order-body .order-cancel {
    line-height: 95px;
    float: left;
    margin-left: 100px;
    margin-top: 20px;
}
/*wallet*/
.table {
    width: 800px;
    text-align: left;
    color: #333;
    float: right;
    margin: 45px 95px 0 0;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

/*coupon*/
.coupon-box {
    width: 800px;
    border: 1px solid #eef1f3;
    margin: 40px 60px 0 60px;
    text-align: center;
    float: left;
    background-color: #ffffff;
}

.coupon-box .header, .order-main .header {
    margin: 0 0 0 0;
    border: 0;
    height: 60px;
    background: #f8f8f8;
    border-bottom: 3px solid #ddd;
}

.coupon-box .header ul, .order-main .header ul {
    margin-left: 30px;
    /*border-bottom: 1px solid #e5e5e5;*/
    list-style: none;
    padding: 0;
}

.coupon-box .header ul li {
    font-size: 20px;
    color: #222;
    line-height: 26px;
    float: left;
    width: auto;
    text-align: center;
    height: 38px;
    margin-right: 25px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}

.coupon-box .header ul li a, .order-main .header ul li a {
    color: #222;
}
.coupon-box .header ul .active, .order-main .header ul .active {
    color: #4aaf51;
}

.coupon-box .header ul .active a , .order-main .header ul .active a{
    color: #4aaf51;
}
.coupon-box .coupons {
    padding-bottom: 25px;
    height: auto;
}

.card {
    width: 180px;
    background: #19d426b8;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
    float: left;
    margin-left: 25px;
    margin-top: 40px;
    height: 100px;
}

.card .price {
    position: relative;
    text-align: center;
    top: 20px;
    font-size: 20px;
    color: #fff;
}

.card .description {
    position: relative;
    text-align: center;
    top: 20px;
    color: #ffffff;
}

#change h4 {
    float: left;
    margin: 20px 0 20px 30px;
}

#change .table {
    margin: 10px 0 10px 30px;
    float: left;
    width: 700px;
}

#change .table .form-group {
    margin-bottom: 15px;
    width: 250px;
}

#change .ok {
    color: #4aaf15;
    margin-left: 20px;
}