<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>经理审核</title>
    <!--CSS for direct-->
    <link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../css/main.css"/>
    <link rel="stylesheet" href="../../font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../css/form-elements.css"/>
    <link rel="stylesheet" href="../../css/style.css"/>
    <link rel="stylesheet" href="../../css/ul-element.css">
    <link rel="stylesheet" href="../../css/homepage.css">
    <link rel="stylesheet" href="../../css/manager.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="header-left" style="padding-right: 10px"><strong>Tickets</strong><span
                        style="font-size: 20px">经理版</span></h1>
            </div>
            <div class="navbar-collapse collapse" style="padding-top: 12px">
                <ul id="navbar" class="nav nav-tabs" style="border: none">
                    <li id="homepage-title"><a href="homepage.html">主页</a></li>
                    <li id="check-title" class="active"><a href="check.html">审核</a></li>
                    <li id="pay-title"><a href="pay.html">结算</a></li>
                    <li id="statistics-title"><a href="statistics.html">统计信息</a></li>
                    <li class="nav navbar-right" style="padding-top: 10px;text-decoration: underline">
                        <span style="color: #4aaf51;"><a href="login.html">登录</a></span><span style="color: #9d9d9d">
                        <!--/<a href="register.html">注册</a>-->
                    </span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="check-main">
        <div class="header">
            <ul class="clearfix nav nav-tabs" style="border: none">
                <li class="active"><a href="#all" data-toggle="tab">全部申请</a></li>
                <li><a href="#register" data-toggle="tab">注册申请</a></li>
                <li><a href="#modify" data-toggle="tab">修改申请</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div id="all" class="tab-pane active">
                <div class="check-box">
                    <div class="check-header">
                        <span class="stadium-name">1号场馆</span>
                        <span class="type">（注册申请）</span>
                    </div>
                    <div class="container check-body">
                        <form style="float: left; margin-left: 80px; text-align: left">
                            <div class="text">
                                <span>场馆名称:</span><span class="content">1号场馆</span><br>
                                <span>场馆地址:</span><span class="content">南京新街口</span><br>
                                <div class="container seat-box">
                                    <span>场馆座位信息:</span>
                                    <ul class="content" style="list-style: none">
                                        <li><span>一等座 200个</span></li>
                                        <li><span>二等座 300个</span></li>
                                    </ul>
                                </div>
                                <div class="container des-box">
                                <span>场馆描述:</span><span class="content">描述啊描述</span><br>
                                </div>
                            </div>
                        </form>
                        <div class="agree">
                            <button class="btn" onclick="this.disabled=true;">通过审核</button>
                        </div>
                    </div>
                </div>
                <div class="check-box">
                    <div class="check-header">
                        <span class="stadium-name">1号场馆</span>
                        <span class="type">（修改申请）</span>
                    </div>
                    <div class="container check-body">
                        <form style="float: left; margin-left: 80px; text-align: left">
                            <div class="text">
                                <span>场馆名称:</span><span class="content">1号场馆</span><br>
                                <span>场馆地址:</span><span class="content">南京新街口</span><br>
                                <div class="container seat-box">
                                    <span>场馆座位信息:</span>
                                    <ul class="content" style="list-style: none">
                                        <li><span>一等座 200个</span></li>
                                        <li><span>二等座 300个</span></li>
                                    </ul>
                                </div>
                                <div class="container des-box">
                                    <span>场馆描述:</span><span class="content">描述啊描述</span><br>
                                </div>
                            </div>
                        </form>
                        <div class="agree">
                            <button class="btn" onclick="this.disabled=true;">通过审核</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="register" class="tab-pane">
                <div class="check-box">
                    <div class="check-header">
                        <span class="stadium-name">1号场馆</span>
                        <span class="type">（注册申请）</span>
                    </div>
                    <div class="container check-body">
                        <form style="float: left; margin-left: 80px; text-align: left">
                            <div class="text">
                                <span>场馆名称:</span><span class="content">1号场馆</span><br>
                                <span>场馆地址:</span><span class="content">南京新街口</span><br>
                                <div class="container seat-box">
                                    <span>场馆座位信息:</span>
                                    <ul class="content" style="list-style: none">
                                        <li><span>一等座 200个</span></li>
                                        <li><span>二等座 300个</span></li>
                                    </ul>
                                </div>
                                <div class="container des-box">
                                    <span>场馆描述:</span><span class="content">描述啊描述</span><br>
                                </div>
                            </div>
                        </form>
                        <div class="agree">
                            <button class="btn" onclick="this.disabled=true;">通过审核</button>
                        </div>
                    </div>
                </div>
                <div class="check-box">
                    <div class="check-header">
                        <span class="stadium-name">1号场馆</span>
                        <span class="type">（注册申请）</span>
                    </div>
                    <div class="container check-body">
                        <form style="float: left; margin-left: 80px; text-align: left">
                            <div class="text">
                                <span>场馆名称:</span><span class="content">1号场馆</span><br>
                                <span>场馆地址:</span><span class="content">南京新街口</span><br>
                                <div class="container seat-box">
                                    <span>场馆座位信息:</span>
                                    <ul class="content" style="list-style: none">
                                        <li><span>一等座 200个</span></li>
                                        <li><span>二等座 300个</span></li>
                                    </ul>
                                </div>
                                <div class="container des-box">
                                    <span>场馆描述:</span><span class="content">描述啊描述</span><br>
                                </div>
                            </div>
                        </form>
                        <div class="agree">
                            <button class="btn" onclick="this.disabled=true;">通过审核</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="modify" class="tab-pane">
                <div class="check-box">
                    <div class="check-header">
                        <span class="stadium-name">1号场馆</span>
                        <span class="type">（修改申请）</span>
                    </div>
                    <div class="container check-body">
                        <form style="float: left; margin-left: 80px; text-align: left">
                            <div class="text">
                                <span>场馆名称:</span><span class="content">1号场馆</span><br>
                                <span>场馆地址:</span><span class="content">南京新街口</span><br>
                                <div class="container seat-box">
                                    <span>场馆座位信息:</span>
                                    <ul class="content" style="list-style: none">
                                        <li><span>一等座 200个</span></li>
                                        <li><span>二等座 300个</span></li>
                                    </ul>
                                </div>
                                <div class="container des-box">
                                    <span>场馆描述:</span><span class="content">描述啊描述</span><br>
                                </div>
                            </div>
                        </form>
                        <div class="agree">
                            <button class="btn" onclick="this.disabled=true;">通过审核</button>
                        </div>
                    </div>
                </div>
                <div class="check-box">
                    <div class="check-header">
                        <span class="stadium-name">1号场馆</span>
                        <span class="type">（修改申请）</span>
                    </div>
                    <div class="container check-body">
                        <form style="float: left; margin-left: 80px; text-align: left">
                            <div class="text">
                                <span>场馆名称:</span><span class="content">1号场馆</span><br>
                                <span>场馆地址:</span><span class="content">南京新街口</span><br>
                                <div class="container seat-box">
                                    <span>场馆座位信息:</span>
                                    <ul class="content" style="list-style: none">
                                        <li><span>一等座 200个</span></li>
                                        <li><span>二等座 300个</span></li>
                                    </ul>
                                </div>
                                <div class="container des-box">
                                    <span>场馆描述:</span><span class="content">描述啊描述</span><br>
                                </div>
                            </div>
                        </form>
                        <div class="agree">
                            <button class="btn" onclick="this.disabled=true;">通过审核</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../jquery/jquery-3.3.1.min.js"></script>
<script src="../../bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>