<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tickets经理主页</title>
    <!--CSS for direct-->
    <link rel="stylesheet" href="../../bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../css/main.css"/>
    <link rel="stylesheet" href="../../font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../css/form-elements.css"/>
    <link rel="stylesheet" href="../../css/style.css"/>
    <link rel="stylesheet" href="../../css/ul-element.css">
    <link rel="stylesheet" href="../../css/homepage.css">
    <link rel="stylesheet" href="../../css/manager.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="header-left" style="padding-right: 10px"><strong>Tickets</strong><span
                        style="font-size: 20px">经理版</span></h1>
            </div>
            <div class="navbar-collapse collapse" style="padding-top: 12px">
                <ul id="navbar" class="nav nav-tabs" style="border: none">
                    <li id="homepage-title" class="active"><a href="homepage.html">主页</a></li>
                    <li id="check-title"><a href="check.html">审核</a></li>
                    <li id="pay-title"><a href="pay.html">结算</a></li>
                    <li id="statistics-title"><a href="statistics.html">统计信息</a></li>
                    <li class="nav navbar-right" style="padding-top: 10px;text-decoration: underline">
                        <span style="color: #4aaf51;"><a href="login.html">登录</a></span><span style="color: #9d9d9d">
                        <!--/<a href="register.html">注册</a>-->
                    </span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="main">
        <div>
            <label id="main-title">Tickets网站</label>
        </div>
        <div class="container check-body" id="main-account">
            <form style="float: left; margin-left: 280px; margin-bottom: 79px; text-align: left">
                <div class="text">
                    <ul id="account-content" class="list-unstyled" style="margin: 87px 0 0 39px">
                        <li>
                            <span><strong>总收入</strong></span><span
                                class="content"><strong>100000元</strong></span>
                        </li>
                        <li>
                            <span>注册场馆数</span><span class="content">200</span>
                        </li>
                        <li>
                            <span>注册用户数</span><span class="content">100</span>
                        </li>
                    </ul>
                </div>
            </form>

        </div>
    </div>
</div>
<script src="../../jquery/jquery-3.3.1.min.js"></script>
<script src="../../bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>