<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>检票</title>
    <!--CSS for direct-->
    <link rel="stylesheet" href="../../../bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../../css/main.css"/>
    <link rel="stylesheet" href="../../../font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../../css/form-elements.css"/>
    <link rel="stylesheet" href="../../../css/style.css"/>
    <link rel="stylesheet" href="../../../css/ul-element.css">
    <link rel="stylesheet" href="../../../css/homepage.css">
    <link rel="stylesheet" href="../../../css/order-ticket.css">
    <link rel="stylesheet" href="../../../css/stadium-ticket.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="header-left" style="padding-right: 20px"><strong>Tickets</strong><span
                        style="font-size: 20px">场馆版</span></h1>
            </div>
            <div class="navbar-collapse collapse" style="padding-top: 12px">
                <ul id="navbar" class="nav nav-tabs" style="border: none">
                    <li id="homepage-title"><a href="../homepage.html">主页</a></li>
                    <li class="dropdown active">
                        <a id="ticket-title" href="" class="dropdown-toggle" data-toggle="dropdown">票务<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../ticket/sell.html" class="dropdown-a" style="color: #4aaf51">售票</a></li>
                            <li><a href="../ticket/check.html" class="dropdown-a" style="color: #4aaf51">检票</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a id="show-title" href="" class="dropdown-toggle" data-toggle="dropdown">演出<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../show/show.html" class="dropdown-a" style="color: #4aaf51">查看演出</a></li>
                            <li><a href="../show/publish.html" class="dropdown-a" style="color: #4aaf51">发布演出</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a id="info" href="" class="dropdown-toggle" data-toggle="dropdown">场馆信息<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../info/info.html" class="dropdown-a" style="color: #4aaf51">基本信息</a></li>
                            <li><a href="../info/statistics.html" class="dropdown-a" style="color: #4aaf51">统计信息</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav navbar-right" style="padding-top: 10px;text-decoration: underline">
                        <span style="color: #4aaf51;"><a href="../login.html">登录</a></span><span style="color: #9d9d9d">/<a
                            href="../register.html">注册</a></span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container ticket">
        <div class="ticket-nav">
            <h3>票务处理</h3>
            <ul id="navbar-info" class="nav nav-tabs nav-stacked" style="border: none">
                <li id="all-show-title"><a href="sell.html">售票</a></li>
                <li id="publish-show-title" class="active"><a href="check.html">检票</a></li>
            </ul>
        </div>
        <div class="tab-content" style="height: auto">
            <div id="sell-ticket" style="padding: 22px 30px;">
                <div>
                    <label>检票</label>
                </div>
            </div>
            <div class="search">
                <div class="input-group">
                    <input id="search" type="text" class="form-control">
                    <div class="input-group-btn">
                        <button id="searchBtn" class="btn">搜索</button>
                    </div>
                </div>
            </div>
            <div class="order-box" style="display: none">
                <div class="order-header">
                    <span class="order-date">2018-01-01</span>
                    <span class="order-id">订单号：1</span>
                </div>
                <div class="order-body">
                    <div class="poster">
                        <img src="../../../pictrues/show1.jpg">
                    </div>
                    <form style="float: left; margin-left: 90px;">
                        <div class="show-name">《驴得水》</div>
                        <div class="stadium-name">幸福蓝海国际影城</div>
                        <div class="seat-info">
                            <span>一等座</span>
                        </div>
                        <div class="show-time">2018-02-02 15:10:00</div>
                    </form>
                    <div class="order-price">￥100</div>
                    <div class="order-status">已出票</div>
                    <div class="order-cancel">
                        <button id="check" class="btn" onclick="this.disabled=true;">检票</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../../jquery/jquery-3.3.1.min.js"></script>
<script src="../../../bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="../../../js/stadium/ticket/check.js"></script>
</body>
</html>